.nav_signin {
    .nav_right {

        a{
            margin: 0 25px 0 0px;
        }

        .link_signin{
            color: $red;
            opacity: 70%;
            transition: 0.25s;

            &:hover {
                opacity: 100%;
            }
        }

        .link_signup{
            color: $grey;
            transition: 0.25s;

            &:hover {
                color: $red;
                opacity: 70%;
            }
        }
    }
}

.signin_div {
    margin: 0 0 25px 30px;
    background-color: red;
    
}

#submit_signin{
    margin-top: 10px;
}

@media screen and (max-width: 650px){ // Pour les 2 formulaire
    .nav_form{
        
        ul{
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .nav_left{
                transform: translateX(-20px);
            }
        }
    }

    .signin_form{
        position: absolute;
        left: 50%;
        transform: translate(-50%);
    }
    
}
